[submodule "protected/extensions/yiiext/behaviors/activerecord-relation"]
	path = protected/extensions/yiiext/behaviors/activerecord-relation
	url = https://github.com/yiiext/activerecord-relation-behavior.git
